.Apple-container {
    h1 {
        color: rgb(77, 77, 77);
        text-align: center;
    }
    .boxs {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .box {
        border: 3px solid rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        transition: 0.5s all ease;
        width: 60%;
        margin: 30px auto;

        img {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 80px;
            width: 100px;
        }

        p {
            text-align: center;
            color: rgb(0, 0, 0);
        }
    }
    .edit-delete {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 20px;
    }

}

.Samsung-container {
    h1 {
        color: rgb(77, 77, 77);
        text-align: center;
    }
    .boxs {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .box {
        border: 3px solid rgb(0, 0, 0);
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        width: 60%;
        margin: 30px auto;

        img {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 80px;
            width: 100px;
        }

        p {
            text-align: center;
            color: rgb(0, 0, 0);
        }

    }
    .edit-delete {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 20px;
    }

}

.addnewUser {
    text-align: center;

    input {
        padding: 5px;
        border-radius: 20px;
    }
    select {
        border-radius: 20px;
        padding: 5px;
    }
}
